



@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}

body {
  background: #fff
  color: #3f3f3f;
  font:14px / 28px arial;
  font-family: 'Raleway';
}
h1 {
  font-size: 52px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

 .sectionHeader{
   background: #550D16;
   border-bottom: 6px solid #000;
   height: 60px;
   color: #fff;
   display: inline-block;
   line-height: 60px;
   font-size: 24px;
   padding: 5px 40px;
   letter-spacing: 2px;
   margin-bottom: 20px;
 }

 h3 {
   font-size: 16px;
   color: #500D16;
   transition: all .5s ease;
 }

.sectionArea{
  padding: 80px 0px;
}




.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.cesitlerBody .container {
  justify-content: space-between;

}

.col3 {
  flex-grow: 1;
  width: 33,33%;
}

.studyolarBody .container {
  justify-content: space-between;

}

.col2 {
  flex-grow: 1;
  width: 50%;
  padding: 20px;
}




header .logo {
  margin-right: auto;
}

header .logo img{
  display: block;
  height: 90px;
  width: 100px;
}

.menu li {
  float: left;
}

.menu li a {
  padding: 27px 17px;
  display: block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #333;
  transition: all .5s ease;
  font-size: 20px;
}



.menu li:hover a {
  background: #500D16;
  color: #fff;
}

#mainSlider {
  height: 500px;
  background: url('../img/mainHome.jpg') center center no-repeat;
  background-size: cover;
}

 .slider {
  width: 100%;
}

#mainCaption {
  height: 500px;
  background: rgba(0,0,0, .5);
}

.cesitlerTop p {
  font-size: 20px;
}

.parallaxTop p {
  font-size: 20px;
}

.studyolarTop p{
  font-size: 20px;
}



.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.cesitlerTop {
  text-align: center;
}

.item {
  padding: 10px 20px;
}

.zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.zoom img {
  display: block;
  width: 100%;
  height: auto;
  transition: all .5s ease;
}

.item .itemText {
  text-align: center;
  padding: 5px;
  border: 1px solid #500D16;
}

.item:hover .zoom img {
  transform: scale(1.25);
}

.item:hover h3 {
  color: #fff;
}

.item:hover .itemText {
  background: #500D16;
  color: #fff;
  transition: all .5s ease;
}

.btnDetails {
  color: #500D16;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #500D16;
  transition: all .5s ease;
}

.item:hover .btnDetails {
  color: #fff;
  border: 1px solid #fff;
}

.itemText p {
  margin: 20px 0px;
}


#parallax {
  background: linear-gradient(rgba(0,0,0, .7),
  rgba(0,0,0, .5)),
  url('../img/parallax.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#parallax p{
  color: #fff;
}

.studyolarTop {
  text-align: center;
}

.studyolarContainer {
  position: relative;
  width: 100%;
}

.imageOver {
  display: block;
  width: 100%;
  height: auto;
}

.studyolarOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(80,13,22, .7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.studyolarContainer:hover .studyolarOverlay {
  width: 100%;
}

.studyolarText {
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.studyolarOverlay2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(80,13,22, .7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.studyolarContainer:hover .studyolarOverlay2 {
  width: 100%;
  left: 0;
}

footer {
  background: #500D16;
  text-align: center;
}

.footerItem{
  padding: 20px;
}

.footerItem img {
  height: 90px;
  width: 100px;
  opacity: .5;
}

footer h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

footer .fab {
  font-size: 30px;
  color: #95a5a6;
  line-height: 50px;
  transition: .3s ease;
}

footer .fab:hover {
  color: #fff;
}

footer p{
  color: #95a5a6;
  line-height: 20px;
}

.footerLinks a {
  text-decoration: none;
  color: #95a5a6;
  letter-spacing: 2px;
  transition: .3s ease;
}

.footerLinks a:hover {
  color: #fff;
  text-decoration: underline;
}

.socialLinks li {
  display: inline-block;
  width: 50px;
  height: 50px;

}
   

#drumsSlider {
  height: 250px;
  background: url('../img/davull2.jpg') center center no-repeat;
  background-size: cover;
}

#drumsSlider p {
  font-size: 20px;
}

.slider {
  width: 100%;
}

#drumsCaption {
  height: 250px;
  background: rgba(0,0,0, .5);
}

#ekipmanlar {
  background-color: #f5f5f5;
}

.ekipmanlarTop {
  text-align: center;
}
.ekipmanlarTop p {
  font-size: 20px;
}

.ekipmanlarBody .col2 {
  display: flex;
}
.ekipmanlarImage {
  width: 40%;
}

.ekipmanlarImage img {
  width: 100%;
  height: auto;
}

.ekipmanlarText {
  width: 60%;
  padding-left: 10px;
}

.studyoNo {
  color: #333;
  font-size: 13px;
  font-style: italic;
}

h4 {
  color: #500d16;
  font-size: 14px;
  font-weight: bold;
}

.ekipmanlarText a {
  float: right;
  text-decoration: none;
  color: #500d16;
}

.ekipmanlarText a:hover {
  text-decoration: underline;
}

.etkinliklerTop {
  text-align: center;
}

.etkinliklerTop p {
  font-size: 20px;
}

#etkinlikler .containerFluid {
  height: 500px;
  background: url('../img/davull3.jpg') center center no-repeat;
  background-size: cover;
}

.captionE {
  display: flex;
  background: rgba(0,0,0, .6);
  width: 100%;
  height: 500px;
}

.etkinliklerInfo {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: 5%;
  padding-right: 5%;
  transform: translate(-50%, -50%);
}

.etkinliklerBody {
  margin-top: 10px;
}


.etkinliklerTitle {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.etkinliklerBTN {
  background-color: #500d16;
  cursor: pointer;
  color: #fff;
  padding: 20px 40px;
  border: none;
  margin-top: 20px;
  transition: all .5s ease;
}

.etkinliklerInfo .etkinliklerBTN:hover {
  background-color: #fff;
  color: #500d16;
}

.etkinliklerText {
  color: #fff;
}

.etkinliklerHighlight {
  display: inline-block;
  background-color: #500d16;
  padding: 30px;
}

.containerFluid .col2 {
  padding: 0;
}

.etkinliklerDetail li {
  color: #fff;
}




#egitimSlider {
  height: 250px;
  background: url('../img/davull5.jpg') center center no-repeat;
  background-size: cover;
}

#egitimCaption {
  height: 250px;
  background: rgba(0,0,0, .5);
}

#egitimCaption p {
  font-size: 20px;
}

#egitimTakvimi {
  background-color: #f5f5f5;
}

.egitimTakvimiTop {
  text-align: center;
}
.egitimTakvimiTop p {
  font-size: 20px;

}

.egitimTakvimiBody .containerFluid{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.egitimTakvimiBody .col2 {
  display: flex;
  margin-top: 10px;
}

.egitimTakvimiNo {
  flex: 1;
  text-align: center;
  background-color: #500d16;
  color: #fff;
}

.egitimTakvimiNo p {
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.egitimTakvimiImage {
  flex: 2;
}

.egitimTakvimiImage img {
  width: 100%;
  height: 100%;
}

.egitimTakvimiText {
  flex: 3;
  margin-left: 10px;
}

.egitimTakvimiText p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.egitmenlerTop {
  text-align: center;
}

.egitmenlerTop p {
  font-size: 20px;
}

.egitmenlerBody {
  margin-top: 10px;
}

.egitmenlerBody .containerFluid {
  display: flex;
  width: 100%;
}

.egitmenlerEgitmen {
  position: relative;
  width: 100%;
}

.egitmenlerEgitmenImg {
  display: block;
  width: 100%;
  height: 100%;
}

.egitmenlerEgitmenOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #500d16;
  transition: .5s ease;
}

.egitmenlerEgitmen:hover .egitmenlerEgitmenOverlay {
  opacity: 0;
}

.egitmenlerEgitmen:hover .egitmenlerEgitmenInfo, .egitmenlerTitle {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.egitmenlerEgitmenInfo {
  color: #fff;
  background-color: rgba(80, 13, 22, .7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  padding: 20px;
  text-align: center;
}

.egitmenSocialLinks {
  text-align: center;
}

.egitmenSocialLinks li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.egitmenSocialLinks .fab {
  color: #fff;
}



#contactSlider {
  height: 250px;
  background: url('../img/davull2.jpg') center center no-repeat;
  background-size: cover;
}

#contactCaption {
  height: 250px;
  background: rgba(0,0,0, .5);
}

#gallery {
  background-color: #f5f5f5;
}

.galleryTop {
  text-align: center;
}

.galleryTop p {
  font-size: 20px;
}


.gallerySlider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.gallerySliderItem {
  width: 300%;
  position: relative;
  left: 0;
  animation: slideAnimation 20s infinite;
}

.gallerySliderItem img {
  width: 33.33%;
  float: left;
  height: auto;
}
@keyframes slideAnimation {
  0% {left: 0;}
  25% {left: -100%;}
  50% {left: -200%;}
  75% {left: -100%;}
  100% {left: 0;}
}

.contactTop {
  text-align: center;
}

.contactTop p {
  font-size: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}
.contactForm {
  margin: 0 auto;
  width: 60%;
}

.formItem {
  margin-bottom: 10px;
  width: 100%;
}

.formShape {
  color: #fff;
  float: left;
  background: #500d16;
  padding: 8px;
  width: 8%;
  text-align: center;
}

.formField {
  color: #fff;
  background: #500d16;
  border: none;
  padding: 16px;
  width: 90%;
  display: block;
  font-size: 14px;
}

.formBtn {
  display: block;
  border: none;
  background: #500d16;
  color: #fff;
  padding: 14px 28px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: .3s ease;
}

.formBtn:hover {
  background: #841916;
}




@media screen and (max-width:960px) {
  .menu li a {
    font-size: 15px;
  }

  .caption h1 {
    font-size: 32px;
    letter-spacing: 2px;
  }

  #drumsCaption p {
    font-size: 18px;
  }

  footer .fab {
    font-size: 24px;
  }

  footer h3 {
    font-size: 16px;
  }
  #egitimCaption p {
    font-size: 18px;
  }

  .ekipmanlarBody .container {
    flex-direction: column;
  }

  .ekipmanlarBody .container .col2 {
    width: 100%;
  }

  .egitimTakvimiBody .col2 {
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .egitmenlerBody .containerFluid {
    flex-direction: column;
  }

  .egitmenlerBody .containerFluid .col3 {
    width: 60%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 10px;
  }

  #contactCaption p {
    font-size: 18px;
  }

}

@media screen and (max-width:720px){
   header .container {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .menu li a {
     font-size: 12px;
   }

   header .logo {
     margin: 0 auto;
   }


  .caption h1 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .cesitlerBody .container {
    flex-direction: column;
  }

  .cesitlerBody .container .col3 {
    width: 80%;
    margin: 0 auto;
  }

  .studyolarBody .container {
    flex-direction: column;
  }

  .studyolarBody .container .col2 {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container .col3 {
    width: 100%;

  }
   .sectionHeader {
     font-size: 20px;
   }
  .sectionArea p {
    font-size: 16px;
  }

  #drumsCaption p {
    font-size: 14px;
  }

  .ekipmanlarBody .container .col2 {
    padding-left: 0;
    padding-right: 0;
  }

  #egitimCaption p {
    font-size: 16px;
  }



  .egitmenlerBody .containerFluid .col3 {
    width: 80%;

  }

  #contactCaption p {
    font-size: 16px;
  }
  .formShape {
    display: none;
  }

}

@media screen and (max-width:540px) {
  .menu li a {
    font-size: 10px;
  }
  .sectionHeader {
    font-size: 18px;
  }

  .sectionArea p {
    font-size: 14px;
  }

  .caption h1 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  #drumsCaption p {
    font-size: 12px;
  }

  #egitimCaption p {
    font-size: 14px;
  }

  .cesitlerBody .container .col3 {
    width: 100%;
    margin: 0 auto;
  }

  .studyolarBody .container .col2 {
  width: 100%;
  }

  #contactCaption p {
    font-size: 14px;
  }

.contactForm {
  width: 80%;
}

}
